.wrapper {
    background-color: rgb(214, 193, 241);}
h1 
{text-align: center;
background-color: rgb(232, 100, 250);}
ul 
{text-align: center;}
li 
{display: inline-block;}
table, th, td 
{ 
    border-style: none;
}
table 
{ width: 60%;
text-align: center;
font-size: 160%;}