body {
    background-color: rgb(235, 226, 247);
}

.content {
    font-size: medium ;
    text-align: center;
}
.wrapper 
{text-align: center;
background: rgb(237, 166, 247);}
ul 
{text-align: center;}
li 
{display: inline-block;}
table, th, td 
{ 
    border-style: none;
}
table 
{ width: 100%;  
text-align: center;
font-size: 120%;}