.wrapper {
    background-color: rgb(214, 193, 241);}
.content {
    text-size-adjust: 110%;
    text-align: center;
}
h1 
{text-align: center;
background: rgb(232, 100, 250);}
ul 
{text-align: center;}
li 
{display: inline-block;}
table, th, td 
{ 
    border-style: none;
}
table 
{ width: 100%;  
text-align: center;
font-size: 160%;}