body {
    background-color: rgb(235, 226, 247);
}

.content {
    font-size: 120% ;
    text-align: center;
    background-color: rgb(235, 226, 247);}
.wrapper 
{text-align: center;
background: rgb(237, 166, 247);
line-height: 1,5 ;}

table, th, td 
{ 
    border-style: none;
}
table 
{ width: 100%;  
text-align: center;
font-size: 140%;}